# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# dependencies
node_modules/
ai/
promos/
trials/

TODO
V2.TODO

# Expo
.expo/
dist/
web-build/

# Native
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.ipa
build*.tar.gz

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# local env files
.env*.local

# typescript
*.tsbuildinfo

*.apk
*.aab
android/
ios/

Home.tsx

deprecated/

src/i18n/*.keys*.json
.aider*

secrets/
credentials/

publish_stores.md
google-services.json
